body{
    font-family: 'Cinzel', serif;
    // font-family: 'Darker Grotesque', sans-serif;
    // font-family: 'Alegreya Sans SC', sans-serif;
    // font-family: 'Assistant', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    z-index: 10;
    color: white;
    width: 100%;
    
    span{
        cursor: pointer;
    }
}
.billboard{
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0,.5)), url('/public/images/IMG_3183.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    .container{
        text-align: center;
        h1{
            font-size: 3rem;
            letter-spacing: 1.6rem;
            margin-right: -1.6rem;
        }
        h6{
            font-size: 1rem;
        }
    }
}